body::-webkit-scrollbar {
  display: none;
}
.aspect-square {
  grid-row: var(--r);
  grid-column: var(--c);
}
@font-face {
  font-family: "Helvetica Now Display";
  src: url(HelveticaNowDisplay-Medium.ttf);
}
body {
  font-family: "Helvetica Now Display";
}
.invert-text {
  filter: invert(1);
}
